.App {
  text-align: center;
  max-width: 100%;
}

.container {
  display: flex;
}

.videos {
  display: flex;
}

.videos video {
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
